.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.navbar {
  display: flex;
  padding: 0;
  margin: 0;
}

.header-right {
  float: right;
}

.container {
  min-width: 1350px;
  max-width: 1350px;
  margin: 0 auto;
}

.header-left img {
  max-height: 56px;
}
.red-circle {
  background: #d2473d;
  color: #fff;
  padding: 8px 18px;
  border-radius: 19px;
  font-weight: 500;
}

ul.navbar li {
  display: flex;
  align-items: center;
  padding: 12px 23px;
  color: #1f265a;
}

ul.navbar li.active {
  font-weight: 500;
}
header.section {
  position: fixed;
  width: 100%;
  background: #fff;
  border-bottom: #7070704f 1px solid;
  z-index: 10;
}
